<div class="ph4 bg-white">
  <h2 class="pv3">Hi, {{main.user.username}}. These are your widgets</h2>
  <div gridster>
    <div class="overflow-hidden grid-item ba bg-white b--gray cover" gridster-item="item" col="item.col" row="item.row" size-x="item.sizeX" size-y="item.sizeY" ng-repeat="item in widgets.all">

      <button class="fr" ng-click="widgets.delete(item)">Delete</button>

      <!-- <p>Size: {{item.sizeX}}, {{item.sizeY}} Pos: {{item.col}}, {{item.row}}</p> -->

      <div ng-if="item.type === 'weather'" class="pa2">
        <h2>Weather</h2>
        <p><b>{{item.data.name}}: </b>{{item.data.weather[0].main}}, {{ (item.data.main.temp - 273.15).toFixed(2)}}&deg;C</p>
      </div>

      <h2 ng-if="item.type === 'news' && item.data.status != 'ok'">Widget failed to load :(</h2>

      <div ng-if="item.type === 'news' && item.data.status === 'ok'"
        style="background-image: url({{item.data.articles[0].urlToImage}})"
        class="pa2 h-100 cover">
        <h4>{{ item.data.articles[0].author }}</h4>
        <h3 class="pt2"><a target="_blank" class="red dim" href="{{item.data.articles[0].url}}">{{ item.data.articles[0].title }}</a></h3>
        <p>{{ item.data.articles[0].description }}</p>

      </div>

      <div ng-if="item.type === 'breakfast'">
        <h3>{{ item.data.hits[0].recipe.label }}</h3>
        <ul>
          <li ng-repeat="ingredient in item.data.hits[0].recipe.ingredientLines">
            {{ ingredient }}
          </li>
        </ul>
        <p>{{ item.data.hits[0].recipe.calories | number : 0 }}kcal</p>
      </div>

      <div ng-if="item.type === 'advice'">
        <h3>Wise Words of the Day</h3>
        <h4>{{ item.data.slip.advice }}</h4>
      </div>

      <div ng-if="item.type === 'numberFact'">
        <h3>Number Fact of the Day</h3>
        <h5>Today is the {{ date }} day of the year</h5>
        <h4>{{ item.data.text }}</h4>
      </div>

      <div ng-if="item.type === 'thisDay'">
        <h3>On this day in history...</h3>
        <h4>{{ item.data.events[0].text }}</h4>
      </div>

    </div>
  </div>

</div>
