  <h2 class="pv3">Hi, {{main.user.username}}. These are your widgets</h2>
  <!-- change how the gridster directive behaves in the vm.gridsterOpts in WidgetsIndexCtrl -->
  <div class="pa2 grid-item new-box bg-moon-gray" ng-hide="widgets.newIsHidden" ng-controller="WidgetsNewCtrl as widget">
    <new-widgets ng-controller="WidgetsNewCtrl as widgets"></new-widgets>
  </div>
  <div gridster="widgets.gridsterOpts">
    <div class="add-button overflow-hidden grid-item bg-moon-gray cover pa2" gridster-item="widgets.newButton">
      <img ng-click="widgets.newWidget()" ng-class="{ cancel: widgets.newCancel }" class="new-button h-100 w-100 v-top pointer" src="/images/plus.png" alt="">
    </div>

    <div class="overflow-auto grid-item bg-white ba b--moon-gray cover" gridster-item="item" col="item.col" row="item.row" size-x="item.sizeX" size-y="item.sizeY" ng-repeat="item in widgets.all">

      <img height="20" src="/images/delete.png" class="pointer icon fl z-5 mt2 ml2 absolute" ng-click="widgets.delete(item)">

      <!-- <p>Size: {{item.sizeX}}, {{item.sizeY}} Pos: {{item.col}}, {{item.row}}</p> -->

      <div ng-if="item.type === 'cat'"
      style="background-image: url({{item.url}})" class="pa2 cover cat h-100">
      </div>

      <div ng-if="item.type === 'giphy'"
      style="background-image: url('{{item.data.data[item.index].images.original.url}}')"
      class="giphy pa2 cover bg-center h5 h-100">
      <img height="20" class="pointer icon fr" src="/images/arrow.png" ng-click="widgets.nextItem(item)">
      </div>

      <h2 ng-if="item.type === 'weather' && item.data.cod !== 200">City not found.</h2>
      <div ng-if="item.type === 'weather' && item.data.cod === 200"
      ng-class="{
        'bg-light-blue': item.data.weather[0].main === 'Rain',
        'bg-light-yellow': item.data.weather[0].main === 'Clear',
        'bg-light-gray': item.data.weather[0].main === 'Clouds',
      }" class="pa2 h-100">

        <img class="pa1 v-mid h-50" ng-if="item.data.weather[0].main === 'Clear'" ng-src="{{widgets.icons.clear.url}}">
        <img class="pa1 v-mid h-50" ng-if="item.data.weather[0].main === 'Rain'" ng-src="{{widgets.icons.rain.url}}">
        <img class="pa1 v-mid h-50" ng-if="item.data.weather[0].main === 'Drizzle'" ng-src="{{widgets.icons.rain.url}}">
        <img class="pa1 v-mid h-50" ng-if="item.data.weather[0].main === 'Clouds'" ng-src="{{widgets.icons.cloudy.url}}">
        <img class="pa1 v-mid h-50" ng-if="item.data.weather[0].main === 'Snow'" ng-src="{{widgets.icons.snow.url}}">

        <dl class="db-ns dib h-50">
          <dt class="dib m0 b">{{item.data.name}}, {{item.data.sys.country}}:</dt>
          <dd class="dib m0" ng-repeat="weather in item.data.weather">{{ weather.main }}<span ng-if="!$last">, </span>
          </dd>
          {{ (item.data.main.temp - 273.15).toFixed(2)}}&deg;C
        </dl>
      </div>

      <h2 ng-if="item.type === 'news' && item.data.status != 'ok'">News failed to load :(</h2>
      <div ng-if="item.type === 'news' && item.data.status === 'ok'"
        class="absolute overflow-hidden grid-news pa2 h-100 cover">
        <div class="aspect-ratio aspect-ratio--16x9">
          <div class="aspect-ratio--object cover"
          style="background-image: url({{item.data.articles[item.index].urlToImage}})"></div>
        </div>
        <button class="fr" ng-click="widgets.nextItem(item)">Next article</button>
        <!-- this ng-if stops the author being displayed if it's a link -->
        <h4 class="pt1" ng-if="item.data.articles[item.index].author.split('http').length === 1">{{ item.data.articles[item.index].author }}</h4>
        <h3 class="f5 f4-l pt1"><a target="_blank" class="black" href="{{item.data.articles[0].url}}">{{ item.data.articles[item.index].title }}</a></h3>
        <p class="pt1">{{ item.data.articles[item.index].description }}</p>

      </div>

      <div ng-if="item.type === 'recipes'">
        <h3>{{ item.data.hits[0].recipe.label }}</h3>
        <ul>
          <li ng-repeat="ingredient in item.data.hits[0].recipe.ingredientLines">
            {{ ingredient }}
          </li>
        </ul>
        <p>{{ item.data.hits[0].recipe.calories | number : 0 }}kcal</p>
      </div>

      <div ng-if="item.type === 'advice'">
        <h3>Wise Words of the Day</h3>
        <h4>{{ item.data.slip.advice }}</h4>
      </div>

      <!-- <div ng-if="item.type === 'numberFact'">
        <h3>Number Fact of the Day</h3>
        <h5>Today is the {{ date }} day of the year</h5>
        <h4>{{ item.data.text }}</h4>
      </div> -->

      <div ng-if="item.type === 'today'">
        <h3>On this day in history...</h3>
        <h4>In {{item.data.data.Events[0].year}}</h4>
        <h4>{{ item.data.data.Events[0].text }}</h4>
      </div>

      <div ng-if="item.type === 'chuck'">
        <h4>{{ item.data.value }}</h4>
      </div>

      <div ng-if="item.type === 'quote'">
        <h3>{{ item.data[0].title }}</h3>
        {{ item.data[0].content }}
      </div>

      <div ng-if="item.type === 'events'">
        <h3>{{ item.data.events.event[0].title }}</h3>
        <p ng-bind-html="item.data.events.event[0].description | htmlToPlaintext "></p>
        <p>{{ item.data.events.event[0].city_name }}</p>
        <p>{{ item.data.events.event[0].venue_address }}</p>
        <a target="_blank" href="{{ item.data.events.event[0].url }}">See more...</a>
      </div>

      <div ng-if="item.type === 'ron'" class="dt h-100 tc">
        <h3 class="dtc v-mid"><span class="f3">"</span>{{ item.data[0]}}<span class="f3">"</span></h3>
        <p class="dtc v-btm i">-Ron Swanson</p>
      </div>


    </div>
  </div>
