<form class="" ng-submit="widgets.create()">
  <div class="w-third pa3 fl">

    <label class="db b f3 pb2" for="type">Pick a widget: </label>
      <select class="h2 w5" name="type" ng-model="widgets.widget.type" ng-options="option.type as option.name for option in widgets.options" ng-change="widgets.onChange(widgets.widget.type)" placeholder="Type">
        <option value="" disabled selected style="display: none;">Please Select</option>
      </select>
    </div>
      <!-- {{ widgets.widget.type }} -->
  <!-- <div class="">
    <label for="url">API url: </label>
    <input type="text" name="url" ng-model="widgets.widget.url" placeholder="url">
  </div> -->

<h2 ng-if="widgets.widget.type === 'recipes'">recipe params</h2>
<h2 ng-if="widgets.widget.type === 'joke'">joke params</h2>
<h2 ng-if="widgets.widget.type === 'quote'">quote params</h2>
<h2 ng-if="widgets.widget.type === 'trumpify'">trump params</h2>
<h2 ng-if="widgets.widget.type === 'advice'">advice params</h2>
<h2 ng-if="widgets.widget.type === 'today'">today params</h2>

<!-- Weather -->

<div class="fr w-two-thirds pa3" ng-if="widgets.widget.type === 'weather'">
  <h2>Choose weather location:</h2>
  <input type="text" ng-model="widgets.weatherLocation" placeholder="City name" ng-change="widgets.getWeather()">
  {{widgets.url}}
</div>

<!-- Giphy -->

<div class="fr w-two-thirds pa3" ng-if="widgets.widget.type === 'giphy'" class="">
  <h2 class="pb2">Enter your search terms:</h2>
  <input class="pa2 h2 w5 br2 bw0" type="text" ng-model="widgets.giphySearchTerms" value="" ng-change="widgets.giphySearch()">
  <p class="f6 pt2">Keywords separated by spaces</p>
  {{widgets.widget.url}}
</div>

<!-- Events -->

  <div class="fr w-two-thirds pa3" ng-if="widgets.widget.type === 'events'">
    <h1>Events</h1>
    <select class="h2 w5" name="location" ng-model="widgets.eventsWidget.location" ng-options="eventsLocation.city for eventsLocation in widgets.eventsLocation" placeholder="Location" ng-change="widgets.events()">
      <option value="">
        <!-- Dynamic cities -->
        Please Select
      </option>
    </select>

    <select class="h2 w5" name="type" ng-model="widgets.eventsWidget.type" ng-options="eventsType.id as eventsType.type for eventsType in widgets.eventsType" placeholder="Type"  ng-change="widgets.events()">
      <option value="">
        <!-- Dynamic types -->
        Please Select
      </option>
    </select>

    <select class="h2 w5" name="time" ng-model="widgets.eventsWidget.time" ng-options="eventsTime.time for eventsTime in widgets.eventsTime" placeholder="Time"  ng-change="widgets.events()">
      <option value="">
        <!-- Dynamic times -->
        Please Select
      </option>
    </select>
  </div>

  <!-- News -->

  <div class="fr w-two-thirds pa3" ng-if="widgets.widget.type === 'news'">
    <h2 ng-if="widgets.widget.type === 'news'">Choose news source: </h2>
    <select class="h2 w5" name="source" ng-model="widgets.newsWidget.source" ng-options="newsSourceOption.source as newsSourceOption.name for newsSourceOption in widgets.newsSourceOptions" placeholder="Source" ng-change="widgets.test()">
      <option value="" disabled selected style="display: none;">Please Select</option>
    </select>
  </div>

<!-- Submit -->
<div class="w-two-thirds fr pa3">

  <p>Widget: {{widgets.widget}}</p>
  <input class="br-pill bg-white w4 bw0 pa2 f3" type="submit" name="" value="Add">
</div>

</form>
