<form ng-submit="widgets.create()">
  <div class="">
    <label for="type">Type: </label>
      <select name="type" ng-model="widgets.widget.type" ng-options="option.type as option.name for option in widgets.options" ng-change="widgets.onChange(widgets.widget.type)" placeholder="Type">
        <option value="" disabled selected style="display: none;">Please Select</option>
      </select>
      {{ widgets.widget.type }}
      {{ widgets.catOpts }}
  </div>
  <div class="">
    <label for="url">API url: </label>
    <input type="text" name="url" ng-model="widgets.widget.url" placeholder="url">
  </div>

<h2 ng-if="widgets.widget.type === 'news'">News params</h2>
<h2 ng-if="widgets.widget.type === 'weather'">weather params</h2>
<!-- <h2 ng-if="widgets.widget.type === 'giphy'">giphy params</h2> -->
<h2 ng-if="widgets.widget.type === 'events'">events params</h2>
<h2 ng-if="widgets.widget.type === 'chuck'">chuck params</h2>
<h2 ng-if="widgets.widget.type === 'recipes'">recipe params</h2>
<h2 ng-if="widgets.widget.type === 'joke'">joke params</h2>
<h2 ng-if="widgets.widget.type === 'quote'">quote params</h2>
<h2 ng-if="widgets.widget.type === 'trumpify'">trump params</h2>
<h2 ng-if="widgets.widget.type === 'advice'">advice params</h2>
<h2 ng-if="widgets.widget.type === 'today'">today params</h2>




<div ng-if="widgets.widget.type === 'events'">Events </div>


<div ng-if="widgets.widget.type === 'cat'">
  <h2>Creates a widget with a random cat gif like so:</h2>
  <img ng-src="{{widgets.widget.url}}" alt="">

</div>

<div ng-if="widgets.widget.type === 'giphy'" class="">
  <h2>Create a Giphy widget</h2>
  <input type="text" ng-model="widgets.giphySearchTerms" value="">
  <button type="button" name="" ng-click="widgets.giphySearch()">Add</button>
  {{widgets.widget.url}}
</div>






_____________________________________________________________________________________






















_____________________________________________________________________________________
  <p>Widget: {{widgets.widget}}</p>
  <input type="submit" name="" value="Add">
</form>
