<!-- Background image -->
<div class="jumbotron h-100 relative">
  <!-- floating div -->
  <div class="vh-100 dt w-100 tc white cover pt5" style="background: url('/images/desert.jpg') no-repeat center;">
    <a href="#" >
      <img src="/images/landingpage-logo.png">
    </a>
    <div class="v-mid">
      <a class="db tc f6 grow no-underline br-pill ba bw1 ph3 pv2 mb2 center mt4 white w5" ui-sref="login">Login</a>
      <a class="db tc f6 grow no-underline br-pill ba bw1 ph3 pv2 mb2 center white w5" ui-sref="register">Register</a>
      <p class="f3 w7 center pa3">Too many widgets, not enough time</p>
    </div>
  </div>
</div>

<div class="vh-100 dt w-100 tc">

    <p class="dib v-mid">Too much noise in your newsfeed? Pinata selects the best content from the web with no ads... ever!</p>
    <img src="/images/anydevice.jpeg" alt="">

</div>

<div class="vh-100 dt w-100 tc">

    <p class="dib v-mid">Too much noise in your newsfeed? Pinata selects the best content from the web with no ads... ever!</p>
    <img src="/images/as_seen_on.png" alt="">

</div>
