<!-- Background image -->
<div class="jumbotron h-100 relative">
  <!-- floating div -->
  <div class="vh-100 dt w-100 tc white cover pt5" style="background: url('/images/desert.jpg') no-repeat center;">
    <a href="#" >
      <img src="/images/landingpage-logo.png">
    </a>
    <div class="v-mid">
      <a class="db tc f6 grow no-underline br-pill ba bw1 ph3 pv2 mb2 center mt4 white w5" ui-sref="login">Login</a>
      <a class="db tc f6 grow no-underline br-pill ba bw1 ph3 pv2 mb2 center white w5" ui-sref="register">Register</a>
      <p class="f3 w7 center pa3">Too many widgets, not enough time</p>
    </div>
  </div>
</div>

<div class="vh-100 dt w-100 tc pt6">

  <img src="/images/display.png" alt="">
  <p class="f1 black pt3 avenir">Wake up happy</p>

</div>

<!-- Parallax 1 -->
<div class="cf mb7" style="background: url('/images/coffee-table.jpg') no-repeat center center fixed; background-size: cover;">
  <div class="fl pa3 pa4-ns bg-white black-70 measure-narrow f3 times">
    <header class="bb b--bla  ck-70 pv4">
      <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">News</h3>
      <h4 class="f3 fw4 i lh-title mt0"></h4>
    </header>
    <section class="pt5 pb4">
      <p class="times lh-copy measure f4 mt0">
        “Add new widgets from our library. Personalise your page by drag‘n'dropping your widgets into the perfect position.”
      </p>
    </section>
  </div>
</div>

<br>
<!-- Parallax 2 -->
<div class="cf mb7" style="background: url('/images/desert.jpg') no-repeat center center fixed; background-size: cover;">
  <div class="fr pa3 pa4-ns bg-white black-70 measure-narrow f3 times">
    <header class="bb b--bla  ck-70 pv4">
      <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Giphy</h3>
      <h4 class="f3 fw4 i lh-title mt0"></h4>
    </header>
    <section class="pt5 pb4">
      <p class="times lh-copy measure f4 mt0">
        “Too much noise in your newsfeed? The best content from around the web with no ads... ever!”
      </p>
    </section>
  </div>
</div>

<!-- Parallax 3 -->
<div class="cf mb7" style="background: url('/images/pinata.jpg') no-repeat center center fixed; background-size: cover;">
  <div class="fl pa3 pa4-ns bg-white black-70 measure-narrow f3 times">
    <header class="bb b--bla  ck-70 pv4">
      <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Sport</h3>
      <h4 class="f3 fw4 i lh-title mt0"></h4>
    </header>
    <section class="pt5 pb4">
      <p class="times lh-copy measure f4 mt0">
        "The best API’s on the web for you to choose from.”
      </p>
    </section>
  </div>
</div>

<br>
<!-- Parallax 4 -->
<div class="cf mb4" style="background: url('/images/olenka-kotyk-15382.jpg') no-repeat center center fixed; background-size: cover;">
  <div class="fr pa3 pa4-ns bg-white black-70 measure-narrow f3 times">
    <header class="bb b--bla  ck-70 pv4">
      <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Recipes</h3>
      <h4 class="f3 fw4 i lh-title mt0"></h4>
    </header>
    <section class="pt5 pb4">
      <p class="times lh-copy measure f4 mt0">
        “Easily add new widgets from our massive library. Personalize your page by drag ‘n dropping your widgets into the perfect position.”
      </p>
    </section>
  </div>
</div>

<div class="vh-100 w-100 tc mt-7 ">
  <div class="v-mid nb-7">
    <a class="db tc f6 grow no-underline br-pill ba bw1 ph3 pv2 mb2 center mt4 hot-pink w5" ui-sref="login">Login</a>
    <a class="db tc f6 grow no-underline br-pill ba bw1 ph3 pv2 mb2 center hot-pink w5" ui-sref="register">Register</a>
    <p class="f3 w7 center pa3">Smash your Piñata today</p>
  </div>

</div>

<div class="center">
  <p class="f3 pa5 bg-black white tc center">Made with &hearts; by Edie, Jack, Tomasz & Brian</p>
</div>
