<div class="register">

  <h1>Register</h1>
  <form ng-submit="register.register()">
    <div>
      <input class="inputText first" type="text" name="username" ng-model="register.user.username" placeholder="Username">
    </div>
    <div>
      <input class="inputText second" type="text" name="firstName" ng-model="register.user.firstName" placeholder="First name">
    </div>
    <div>
      <input class="inputText third" type="text" name="lastName" ng-model="register.user.lastName" placeholder="Last name">
    </div>
    <div>
      <input class="inputText fourth" type="text" name="image" ng-model="register.user.image" placeholder="Image">
    </div>
    <div>
      <input class="inputText fith" type="email" name="email" ng-model="register.user.email" placeholder="Email">
    </div>
    <div>
      <input class="inputText first" type="password" name="password" ng-model="register.user.password" placeholder="Password">
    </div>
    <div>
      <input class="inputText second" type="password" name="passwordConfirmation" ng-model="register.user.passwordConfirmation" placeholder="Password confirmation">
    </div>
    <input class="submitButton grow" type="submit" value="Submit" />
  </form>

</div>
