<!DOCTYPE html>
<html ng-app="wdi-group-project">
<head>
  <meta charset="utf-8">
  <title>Angular Stack Setup</title>
  <base href="/">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <header class="bg-light-gray ph4 pv2">
    <ul>
      <li class="dib"><a ui-sref="home">Piñata</a></li>
      <li class="dib"><a ui-sref="login">Login</a></li>
      <li class="dib"><a ui-sref="register">Register</a></li>
      <li class="dib"><a ui-sref="usersIndex">Users</a></li>
      <li class="dib"><a ui-sref="widgetsIndex">Widgets</a></li>
      <li class="dib"><a ui-sref="widgetsNew">New Widget</a></li>
      <li class="dib"><a ng-click="main.logout()">Logout</a></li>
    </ul>
  </header>
  <main ui-view></main>
  <!-- <div class="ph4 sans-serif bg-white" ng-controller="WidgetCtrl as widgets">
    <h1 class="gray">Hello</h1>

    <div gridster>
      <div class="grid-item ba pa3 bg-white b--gray" gridster-item="item" ng-repeat="item in widgets.all">

        <p>Size: {{item.sizeX}}, {{item.sizeY}} Pos: {{item.col}}, {{item.row}}</p>

        <div ng-if="item.type === 'weather'">
          <h2>Weather</h2>
          <p><b>{{item.data.name}}: </b>{{item.data.weather[0].main}}, {{ (item.data.main.temp - 273.15).toFixed(2)}}&deg;C</p>
        </div>

        <h2 ng-if="item.type === 'news' && item.data.status != 'ok'">Widget failed to load :(</h2>

        <div ng-if="item.type === 'news' && item.data.status === 'ok'">
          <img style="max-width: 100%; max-height: 50%" ng-if="item.sizeY > 1 && item.sizeX > 1" ng-src="{{ item.data.articles[0].urlToImage }}" alt="">
          <h4>{{ item.data.articles[0].author }}</h4>
          <h3><a target="_blank" class="gray dim" href="{{item.data.articles[0].url}}">{{ item.data.articles[0].title }}</a></h3>
          <p>{{ item.data.articles[0].description }}</p>

        </div>

      </div>
    </div>

  </div> -->

</body>
</html>
