// Import all of your scss files here
@import 'helpers/tachyons';
a {
  text-decoration: none;
}
body, html, ul, li, h1, h2, h3, h4, h5, h6, p, dd, dt, dl {
  margin: 0;
  padding: 0;
}
.grid-item {
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.31);
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.31);
}
ul, li {
  list-style: none
}
.grid-news {
  background-color: #ccc;
  background-blend-mode: screen;
  background-position: center;
}
.gridster .gridster-item:hover .handle-se {
  border-color: transparent transparent white;
}
