// Import all of your scss files here
@import 'helpers/tachyons';
a {
  text-decoration: none;
}
body, html, ul, li, h1, h2, h3, h4, h5, h6, p, dd, dt, dl {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none
}

.gridster .gridster-item:hover .handle-se {
  border-color: transparent transparent white;
}
header {
  height: 100px;
  margin-top: -100px;
  line-height: 100px;
}
main {
  margin-top: 100px;
}
// make sure gifs don't get squished in mobile layout
.gridster-mobile .gridster-item .giphy {
  height: 500px !important;
}
.new-box {
  height: 200px;
  margin-bottom: 15px;
  background-color: #60a0e0;
}
.new-box.ng-hide {
  animation: 0.2s expandOut linear;
}
.new-box.ng-hide-remove {
  animation: 0.2s expandIn linear;
  opacity: 1;
  height: 200px;
}
@keyframes expandOut {
  0% {
    height: 200px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes expandIn {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 200px;
    opacity: 1;
  }
}
.add-button {
  background-color: #60a0e0;
  border-radius: 100%;
  transition: all .2s ease;
}
.add-button.cancel {
  background-color: #f26c4f;
  transform: rotate(135deg);
  transition: all .2s ease;
}
.oops {
  margin: 0 auto;
  width: 955px;
  height: 505
}
.icon {
  -webkit-filter: drop-shadow(0 0 1px rgba(0,0,0,0.6))
  drop-shadow(0 0 1px rgba(0,0,0,0.6));
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.6))
  drop-shadow(0 0 1px rgba(0,0,0,0.6));
}
.weather-rain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  background-color: #60a0e0;
  background-image: url('/images/weather-icons/rain-white.png');
}
.weather-clear {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  background-color: #fff568;
  background-image: url('/images/weather-icons/clear-white.png');
}
.weather-clouds {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  background-color: #90b0d0;
  background-image: url('/images/weather-icons/clouds-white.png');
}
.weather-snow {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  background-color: #dfefef;
  background-image: url('/images/weather-icons/snow-white.png');
}
